# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/
cronux_venv/

# PyInstaller
*.spec

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Archivos de la web estática (van en otro repo)
/demo.css
/demo.html
/demo.js
/descarga.css
/descarga.html
/documentacion.css
/documentacion.html
/guia-macos.html
/guia-windows.html
/guia.css
/index.css
/index.html
/termynal.js
/img/
/svg/
/descargar_cli/
/descargar_gui/
/cronuxEstatico/
*.pdf

# Archivos temporales
*.log
*.tmp
